{"openapi":"3.0.1","info":{"title":"OLma API","description":"OLma - 외주 단가 벤치마크 플랫폼 API","version":"v1"},"servers":[{"url":"https://api.olma.kro.kr","description":"Generated server url"}],"tags":[{"name":"Rate Submission","description":"직무/경력/근무 형태별 단가 제보 API"}],"paths":{"/v1/users/{userId}/profile":{"put":{"tags":["user-profile-controller"],"operationId":"updateProfile","parameters":[{"name":"userId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserProfileUpdateRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/UserProfileResponse"}}}}},"security":[{"BearerAuth":[]}]}},"/v1/users/me/profile":{"get":{"tags":["user-profile-controller"],"operationId":"getMyProfile","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/UserProfileResponse"}}}}},"security":[{"BearerAuth":[]}]},"put":{"tags":["user-profile-controller"],"operationId":"updateMyProfile","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserProfileUpdateRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/UserProfileResponse"}}}}},"security":[{"BearerAuth":[]}]}},"/v1/users/me/password":{"put":{"tags":["user-profile-controller"],"operationId":"changePassword","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ChangePasswordRequest"}}},"required":true},"responses":{"204":{"description":"No Content"}},"security":[{"BearerAuth":[]}]}},"/v1/community/posts/{postId}":{"get":{"tags":["community-controller"],"operationId":"getPost","parameters":[{"name":"postId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommunityPostDetailResponse"}}}}},"security":[{"BearerAuth":[]}]},"put":{"tags":["community-controller"],"operationId":"updatePost","parameters":[{"name":"postId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CommunityPostUpdateRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommunityPostDetailResponse"}}}}},"security":[{"BearerAuth":[]}]},"delete":{"tags":["community-controller"],"operationId":"deletePost","parameters":[{"name":"postId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"204":{"description":"No Content"}},"security":[{"BearerAuth":[]}]}},"/v1/community/comments/{commentId}":{"put":{"tags":["community-controller"],"operationId":"updateComment","parameters":[{"name":"commentId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CommunityCommentUpdateRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommunityCommentResponse"}}}}},"security":[{"BearerAuth":[]}]},"delete":{"tags":["community-controller"],"operationId":"deleteComment","parameters":[{"name":"commentId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"204":{"description":"No Content"}},"security":[{"BearerAuth":[]}]}},"/v1/submissions":{"post":{"tags":["Rate Submission"],"summary":"단가 제보 생성","description":"직무, 경력, 근무 형태, 금액 정보를 받아 단가 제보를 생성합니다. userId가 없으면 JWT에서 추출한 userId를 사용합니다.","operationId":"create","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RateSubmissionRequest"}}},"required":true},"responses":{"201":{"description":"단가 제보 생성 성공","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RateSubmissionResponse"}}}},"401":{"description":"JWT 미제공 또는 유효하지 않은 토큰"},"400":{"description":"필수 필드 누락, 잘못된 기준 데이터 ID, 금액 범위 오류"}},"security":[{"BearerAuth":[]}]}},"/v1/estimates":{"get":{"tags":["estimate-controller"],"operationId":"getMyEstimates","parameters":[{"name":"negotiationSimulationStatus","in":"query","required":false,"schema":{"type":"string","enum":["NOT_STARTED","IN_PROGRESS","COMPLETED"]}},{"name":"negotiationSimulationStarted","in":"query","required":false,"schema":{"type":"boolean"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/SavedEstimateResponse"}}}}}},"security":[{"BearerAuth":[]}]},"post":{"tags":["estimate-controller"],"operationId":"save","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/EstimateCalculateRequest"}}},"required":true},"responses":{"201":{"description":"Created","content":{"*/*":{"schema":{"$ref":"#/components/schemas/EstimateCalculateResponse"}}}}},"security":[{"BearerAuth":[]}]}},"/v1/estimates/negotiation/simulate":{"post":{"tags":["estimate-controller"],"operationId":"simulateNegotiation","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/EstimateNegotiationRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/EstimateNegotiationResult"}}}}},"security":[{"BearerAuth":[]}]}},"/v1/estimates/calculate":{"post":{"tags":["estimate-controller"],"operationId":"calculate","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/EstimateCalculateRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/EstimateCalculateResponse"}}}}},"security":[{"BearerAuth":[]}]}},"/v1/community/posts":{"get":{"tags":["community-controller"],"operationId":"getPosts","parameters":[{"name":"category","in":"query","required":false,"schema":{"type":"string","enum":["QNA","INFO","FREE"]}},{"name":"sort","in":"query","required":false,"schema":{"type":"string","default":"LATEST","enum":["LATEST","LIKES","COMMENTS"]}},{"name":"jobCategoryId","in":"query","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"experienceLevelId","in":"query","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":0}},{"name":"size","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":20}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommunityPostListResponse"}}}}},"security":[{"BearerAuth":[]}]},"post":{"tags":["community-controller"],"operationId":"createPost","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CommunityPostCreateRequest"}}},"required":true},"responses":{"201":{"description":"Created","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommunityPostDetailResponse"}}}}},"security":[{"BearerAuth":[]}]}},"/v1/community/posts/{postId}/reports":{"post":{"tags":["community-controller"],"operationId":"reportPost","parameters":[{"name":"postId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CommunityReportRequest"}}},"required":true},"responses":{"204":{"description":"No Content"}},"security":[{"BearerAuth":[]}]}},"/v1/community/posts/{postId}/likes":{"post":{"tags":["community-controller"],"operationId":"likePost","parameters":[{"name":"postId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"204":{"description":"No Content"}},"security":[{"BearerAuth":[]}]},"delete":{"tags":["community-controller"],"operationId":"unlikePost","parameters":[{"name":"postId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"204":{"description":"No Content"}},"security":[{"BearerAuth":[]}]}},"/v1/community/posts/{postId}/comments":{"post":{"tags":["community-controller"],"operationId":"createComment","parameters":[{"name":"postId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CommunityCommentCreateRequest"}}},"required":true},"responses":{"201":{"description":"Created","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommunityCommentResponse"}}}}},"security":[{"BearerAuth":[]}]}},"/v1/community/comments/{commentId}/reports":{"post":{"tags":["community-controller"],"operationId":"reportComment","parameters":[{"name":"commentId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CommunityReportRequest"}}},"required":true},"responses":{"204":{"description":"No Content"}},"security":[{"BearerAuth":[]}]}},"/v1/community/comments/{commentId}/likes":{"post":{"tags":["community-controller"],"operationId":"likeComment","parameters":[{"name":"commentId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"204":{"description":"No Content"}},"security":[{"BearerAuth":[]}]},"delete":{"tags":["community-controller"],"operationId":"unlikeComment","parameters":[{"name":"commentId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"204":{"description":"No Content"}},"security":[{"BearerAuth":[]}]}},"/v1/auth/signup":{"post":{"tags":["auth-controller"],"operationId":"signUp","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AuthSignupRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/AuthSignupResponse"}}}}}}},"/v1/auth/logout":{"post":{"tags":["auth-controller"],"operationId":"logout","responses":{"204":{"description":"No Content"}},"security":[{"BearerAuth":[]}]}},"/v1/auth/login":{"post":{"tags":["auth-controller"],"operationId":"login","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AuthLoginRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/AuthLoginResponse"}}}}}}},"/v1/users/me/profile/spec-progress":{"patch":{"tags":["user-profile-controller"],"operationId":"updateProfileSpecProgress","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProfileSpecProgressRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/UserProfileResponse"}}}}},"security":[{"BearerAuth":[]}]}},"/v1/users/me/drafts/{type}":{"get":{"tags":["user-draft-controller"],"operationId":"getDraft","parameters":[{"name":"type","in":"path","required":true,"schema":{"type":"string","enum":["ONBOARDING","ESTIMATE"]}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/UserDraftResponse"}}}}},"security":[{"BearerAuth":[]}]},"delete":{"tags":["user-draft-controller"],"operationId":"deleteDraft","parameters":[{"name":"type","in":"path","required":true,"schema":{"type":"string","enum":["ONBOARDING","ESTIMATE"]}}],"responses":{"204":{"description":"No Content"}},"security":[{"BearerAuth":[]}]},"patch":{"tags":["user-draft-controller"],"operationId":"saveProgress","parameters":[{"name":"type","in":"path","required":true,"schema":{"type":"string","enum":["ONBOARDING","ESTIMATE"]}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserDraftRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/UserDraftResponse"}}}}},"security":[{"BearerAuth":[]}]}},"/v1/users/me/drafts/{type}/complete":{"patch":{"tags":["user-draft-controller"],"operationId":"complete","parameters":[{"name":"type","in":"path","required":true,"schema":{"type":"string","enum":["ONBOARDING","ESTIMATE"]}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserDraftRequest"}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/UserDraftResponse"}}}}},"security":[{"BearerAuth":[]}]}},"/v1/submissions/{id}/project-name":{"patch":{"tags":["Rate Submission"],"summary":"단가 제보 프로젝트명 수정","description":"본인이 생성한 ACTIVE 상태의 단가 제보 프로젝트명을 수정합니다. 소유자가 아니면 403을 반환합니다.","operationId":"updateProjectName","parameters":[{"name":"id","in":"path","description":"단가 제보 ID","required":true,"schema":{"type":"integer","format":"int64"},"example":1}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProjectNameUpdateRequest"}}},"required":true},"responses":{"200":{"description":"프로젝트명 수정 성공","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RateSubmissionResponse"}}}},"404":{"description":"해당 ID의 ACTIVE 제보가 없음"},"401":{"description":"JWT 미제공 또는 유효하지 않은 토큰"},"403":{"description":"요청자가 제보 소유자가 아님"},"400":{"description":"프로젝트명이 최대 길이를 초과함"}},"security":[{"BearerAuth":[]}]}},"/v1/estimates/{id}/project-name":{"patch":{"tags":["estimate-controller"],"operationId":"updateProjectName_1","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProjectNameUpdateRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SavedEstimateResponse"}}}}},"security":[{"BearerAuth":[]}]}},"/v1/estimates/{id}/negotiation-simulation/start":{"patch":{"tags":["estimate-controller"],"operationId":"markNegotiationSimulationStarted","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SavedEstimateResponse"}}}}},"security":[{"BearerAuth":[]}]}},"/v1/estimates/{id}/negotiation-simulation/progress":{"patch":{"tags":["estimate-controller"],"operationId":"updateNegotiationSimulationProgress","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/NegotiationSimulationProgressRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SavedEstimateResponse"}}}}},"security":[{"BearerAuth":[]}]}},"/v1/estimates/{id}/negotiation-simulation/complete":{"patch":{"tags":["estimate-controller"],"operationId":"completeNegotiationSimulation","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/NegotiationSimulationProgressRequest"}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SavedEstimateResponse"}}}}},"security":[{"BearerAuth":[]}]}},"/v1/users/{userId}":{"get":{"tags":["user-profile-controller"],"operationId":"getProfile","parameters":[{"name":"userId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/UserProfileResponse"}}}}},"security":[{"BearerAuth":[]}]}},"/v1/users/{userId}/submissions":{"get":{"tags":["user-profile-controller"],"operationId":"getSubmissions","parameters":[{"name":"userId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/SubmissionTimelineItem"}}}}}},"security":[{"BearerAuth":[]}]}},"/v1/users/me/drafts":{"get":{"tags":["user-draft-controller"],"operationId":"getDrafts","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/UserDraftResponse"}}}}}},"security":[{"BearerAuth":[]}]}},"/v1/submissions/{id}":{"get":{"tags":["Rate Submission"],"summary":"단가 제보 단건 조회","description":"ID로 ACTIVE 상태의 단가 제보를 조회합니다. HIDDEN 상태의 제보는 404를 반환합니다.","operationId":"getById","parameters":[{"name":"id","in":"path","description":"단가 제보 ID","required":true,"schema":{"type":"integer","format":"int64"},"example":1}],"responses":{"200":{"description":"단가 제보 조회 성공","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RateSubmissionResponse"}}}},"401":{"description":"JWT 미제공 또는 유효하지 않은 토큰"},"404":{"description":"해당 ID의 제보가 없음"}},"security":[{"BearerAuth":[]}]},"delete":{"tags":["Rate Submission"],"summary":"단가 제보 소프트 삭제","description":"본인이 생성한 ACTIVE 상태의 단가 제보를 HIDDEN으로 변경합니다. 소유자가 아니면 403을 반환합니다.","operationId":"delete","parameters":[{"name":"id","in":"path","description":"단가 제보 ID","required":true,"schema":{"type":"integer","format":"int64"},"example":1}],"responses":{"404":{"description":"해당 ID의 ACTIVE 제보가 없음"},"204":{"description":"소프트 삭제 성공"},"401":{"description":"JWT 미제공 또는 유효하지 않은 토큰"},"403":{"description":"요청자가 제보 소유자가 아님"}},"security":[{"BearerAuth":[]}]}},"/v1/reference/work-types":{"get":{"tags":["reference-data-controller"],"operationId":"getWorkTypes","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"type":"object","additionalProperties":{"type":"object"}}}}}}},"security":[{"BearerAuth":[]}]}},"/v1/reference/regions":{"get":{"tags":["reference-data-controller"],"operationId":"getRegions","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"type":"object","additionalProperties":{"type":"object"}}}}}}},"security":[{"BearerAuth":[]}]}},"/v1/reference/job-categories":{"get":{"tags":["reference-data-controller"],"operationId":"getJobCategories","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/JobCategoryResponse"}}}}}},"security":[{"BearerAuth":[]}]}},"/v1/reference/experience-levels":{"get":{"tags":["reference-data-controller"],"operationId":"getExperienceLevels","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"type":"object","additionalProperties":{"type":"object"}}}}}}},"security":[{"BearerAuth":[]}]}},"/v1/reference/certificate-types":{"get":{"tags":["reference-data-controller"],"operationId":"getCertificateTypes","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"type":"object","additionalProperties":{"type":"object"}}}}}}},"security":[{"BearerAuth":[]}]}},"/v1/estimates/{id}":{"get":{"tags":["estimate-controller"],"operationId":"getMyEstimate","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SavedEstimateResponse"}}}}},"security":[{"BearerAuth":[]}]},"delete":{"tags":["estimate-controller"],"operationId":"delete_1","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"204":{"description":"No Content"}},"security":[{"BearerAuth":[]}]}},"/v1/community/me/posts":{"get":{"tags":["community-controller"],"operationId":"getMyPosts","parameters":[{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":0}},{"name":"size","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":20}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommunityPostPageResponse"}}}}},"security":[{"BearerAuth":[]}]}},"/v1/community/me/comments":{"get":{"tags":["community-controller"],"operationId":"getMyComments","parameters":[{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":0}},{"name":"size","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":20}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommunityCommentListResponse"}}}}},"security":[{"BearerAuth":[]}]}},"/v1/benchmark":{"get":{"tags":["benchmark-controller"],"operationId":"getBenchmark","parameters":[{"name":"jobCategoryId","in":"query","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"experienceLevelId","in":"query","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"workFormat","in":"query","required":false,"schema":{"type":"string","enum":["ON_SITE","REMOTE","HYBRID"]}},{"name":"userAmount","in":"query","required":false,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/BenchmarkResult"}}}}},"security":[{"BearerAuth":[]}]}},"/v1/users/me":{"delete":{"tags":["user-profile-controller"],"operationId":"withdraw","responses":{"204":{"description":"No Content"}},"security":[{"BearerAuth":[]}]}}},"components":{"schemas":{"UserProfileUpdateRequest":{"type":"object","properties":{"jobCategoryId":{"type":"integer","format":"int64"},"experienceLevelId":{"type":"integer","format":"int64"},"certificateTypeIds":{"type":"array","items":{"type":"integer","format":"int64"}}}},"CertificateInfo":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"name":{"type":"string"}}},"JsonNode":{"type":"object"},"UserProfileResponse":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"email":{"type":"string"},"nickname":{"type":"string"},"jobCategoryId":{"type":"integer","format":"int64"},"jobCategoryName":{"type":"string"},"experienceLevelId":{"type":"integer","format":"int64"},"experienceLevelLabel":{"type":"string"},"certificates":{"type":"array","items":{"$ref":"#/components/schemas/CertificateInfo"}},"profileSpecStatus":{"type":"string","enum":["NOT_STARTED","IN_PROGRESS","COMPLETED"]},"profileSpecState":{"$ref":"#/components/schemas/JsonNode"},"profileSpecStartedAt":{"type":"string","format":"date-time"},"profileSpecUpdatedAt":{"type":"string","format":"date-time"},"profileSpecCompletedAt":{"type":"string","format":"date-time"}}},"ChangePasswordRequest":{"required":["currentPassword","newPassword"],"type":"object","properties":{"currentPassword":{"type":"string"},"newPassword":{"maxLength":2147483647,"minLength":8,"type":"string"}}},"CommunityPostUpdateRequest":{"required":["category","content","title"],"type":"object","properties":{"title":{"maxLength":120,"minLength":0,"type":"string"},"content":{"maxLength":10000,"minLength":0,"type":"string"},"category":{"type":"string","enum":["QNA","INFO","FREE"]},"imageUrls":{"maxItems":3,"minItems":0,"type":"array","items":{"maxLength":2048,"minLength":0,"type":"string"}}}},"CommunityAuthorResponse":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"nickname":{"type":"string"},"jobCategoryId":{"type":"integer","format":"int64"},"jobCategoryName":{"type":"string"},"experienceLevelId":{"type":"integer","format":"int64"},"experienceLevelLabel":{"type":"string"},"badgeLabel":{"type":"string"}}},"CommunityCommentResponse":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"parentCommentId":{"type":"integer","format":"int64"},"content":{"type":"string"},"author":{"$ref":"#/components/schemas/CommunityAuthorResponse"},"likeCount":{"type":"integer","format":"int32"},"likedByMe":{"type":"boolean"},"createdAt":{"type":"string","format":"date-time"}}},"CommunityPostDetailResponse":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"category":{"type":"string","enum":["QNA","INFO","FREE"]},"title":{"type":"string"},"content":{"type":"string"},"author":{"$ref":"#/components/schemas/CommunityAuthorResponse"},"imageUrls":{"type":"array","items":{"type":"string"}},"likeCount":{"type":"integer","format":"int32"},"commentCount":{"type":"integer","format":"int32"},"likedByMe":{"type":"boolean"},"createdAt":{"type":"string","format":"date-time"},"comments":{"type":"array","items":{"$ref":"#/components/schemas/CommunityCommentResponse"}}}},"CommunityCommentUpdateRequest":{"required":["content"],"type":"object","properties":{"content":{"maxLength":3000,"minLength":0,"type":"string"}}},"RateSubmissionRequest":{"required":["amount","amountUnit","experienceLevelId","jobCategoryId","sessionId","submissionType","workFormat"],"type":"object","properties":{"jobCategoryId":{"type":"integer","format":"int64"},"experienceLevelId":{"type":"integer","format":"int64"},"submissionType":{"type":"string","enum":["TRACK_A","TRACK_B"]},"workFormat":{"type":"string","enum":["ON_SITE","REMOTE","HYBRID"]},"duration":{"maxLength":50,"minLength":0,"type":"string"},"amount":{"minimum":10,"type":"integer","format":"int32"},"amountUnit":{"type":"string","enum":["MONTHLY","TOTAL"]},"sessionId":{"type":"string","format":"uuid"},"projectName":{"maxLength":100,"minLength":0,"type":"string"}}},"RateSubmissionResponse":{"type":"object","properties":{"id":{"type":"integer","description":"단가 제보 ID","format":"int64","example":1},"projectName":{"type":"string","description":"프로젝트명","example":"쇼핑몰 관리자 페이지 구축"},"jobCategoryName":{"type":"string","description":"직무 카테고리명","example":"백엔드 개발"},"experienceLevelLabel":{"type":"string","description":"경력 레벨 라벨","example":"3~5년"},"submissionType":{"type":"string","description":"제보 유형","example":"TRACK_A","enum":["TRACK_A","TRACK_B"]},"workFormat":{"type":"string","description":"근무 형태","example":"REMOTE","enum":["ON_SITE","REMOTE","HYBRID"]},"duration":{"type":"string","description":"프로젝트 기간","example":"2~3개월"},"amount":{"type":"integer","description":"제보 금액","format":"int32","example":450},"amountUnit":{"type":"string","description":"금액 단위","example":"MONTHLY","enum":["MONTHLY","TOTAL"]},"normalizedMonthly":{"type":"integer","description":"월 단가로 환산한 금액. 환산할 수 없으면 null입니다.","format":"int32","example":450},"createdAt":{"type":"string","description":"제보 생성 시각","format":"date-time","example":"2026-07-16T14:30:00+09:00"}},"description":"단가 제보 응답"},"EstimateCalculateRequest":{"required":["experienceLevelId","jobCategoryId","platformEnvironment","screenCount","uxEngagement"],"type":"object","properties":{"experienceLevelId":{"type":"integer","format":"int64"},"jobCategoryId":{"type":"integer","format":"int64"},"screenCount":{"type":"integer","format":"int32"},"uxEngagement":{"type":"string","enum":["GUI_ONLY","WIREFRAME_PLUS","FULL_PLANNING"]},"platformEnvironment":{"type":"string","enum":["MOBILE_APP","PC_WEB","RESPONSIVE_WEB"]},"addons":{"type":"array","items":{"type":"string","enum":["DESIGN_SYSTEM","PROTOTYPING","SOURCE_TRANSFER"]}},"projectName":{"maxLength":100,"minLength":0,"type":"string"},"negotiationTargetBudgetAmount":{"type":"integer","format":"int32"}}},"EstimateCalculateResponse":{"type":"object","properties":{"savedEstimateId":{"type":"integer","format":"int64"},"projectName":{"type":"string"},"experienceLevelLabel":{"type":"string"},"jobCategoryName":{"type":"string"},"baseDailyRate":{"type":"integer","format":"int32"},"screenCount":{"type":"integer","format":"int32"},"step1BasicFee":{"type":"integer","format":"int32"},"uxMultiplier":{"type":"number"},"step2UxFee":{"type":"integer","format":"int32"},"platformMultiplier":{"type":"number"},"step3PlatformFee":{"type":"integer","format":"int32"},"addons":{"type":"array","items":{"type":"string"}},"addonPercent":{"type":"integer","format":"int32"},"step4AddonFee":{"type":"integer","format":"int32"},"finalAmount":{"type":"integer","format":"int32"},"negotiationResult":{"$ref":"#/components/schemas/EstimateNegotiationResult"},"createdAt":{"type":"string","format":"date-time"}}},"EstimateNegotiationOption":{"type":"object","properties":{"type":{"type":"string"},"title":{"type":"string"},"adjustedAmount":{"type":"integer","format":"int32"},"savingAmount":{"type":"integer","format":"int32"},"gapAfterAdjustment":{"type":"integer","format":"int32"},"adjustedScreenCount":{"type":"integer","format":"int32"},"uxEngagement":{"type":"string"},"addons":{"type":"array","items":{"type":"string"}},"adjustments":{"type":"array","items":{"type":"string"}},"clientMessage":{"type":"string"}}},"EstimateNegotiationResult":{"type":"object","properties":{"status":{"type":"string"},"currentAmount":{"type":"integer","format":"int32"},"targetBudgetAmount":{"type":"integer","format":"int32"},"gapAmount":{"type":"integer","format":"int32"},"recommendedOptionType":{"type":"string"},"options":{"type":"array","items":{"$ref":"#/components/schemas/EstimateNegotiationOption"}},"clientMessage":{"type":"string"}}},"EstimateNegotiationRequest":{"required":["experienceLevelId","jobCategoryId","platformEnvironment","screenCount","targetBudgetAmount","uxEngagement"],"type":"object","properties":{"experienceLevelId":{"type":"integer","format":"int64"},"jobCategoryId":{"type":"integer","format":"int64"},"screenCount":{"type":"integer","format":"int32"},"uxEngagement":{"type":"string","enum":["GUI_ONLY","WIREFRAME_PLUS","FULL_PLANNING"]},"platformEnvironment":{"type":"string","enum":["MOBILE_APP","PC_WEB","RESPONSIVE_WEB"]},"addons":{"type":"array","items":{"type":"string","enum":["DESIGN_SYSTEM","PROTOTYPING","SOURCE_TRANSFER"]}},"projectName":{"maxLength":100,"minLength":0,"type":"string"},"negotiationTargetBudgetAmount":{"type":"integer","format":"int32"},"targetBudgetAmount":{"type":"integer","format":"int32"}}},"CommunityPostCreateRequest":{"required":["category","content","title"],"type":"object","properties":{"title":{"maxLength":120,"minLength":0,"type":"string"},"content":{"maxLength":10000,"minLength":0,"type":"string"},"category":{"type":"string","enum":["QNA","INFO","FREE"]},"imageUrls":{"maxItems":3,"minItems":0,"type":"array","items":{"maxLength":2048,"minLength":0,"type":"string"}}}},"CommunityReportRequest":{"required":["reason"],"type":"object","properties":{"reason":{"type":"string","enum":["ABUSE","FALSE_INFO","SPAM","ETC"]},"detail":{"maxLength":1000,"minLength":0,"type":"string"}}},"CommunityCommentCreateRequest":{"required":["content"],"type":"object","properties":{"parentCommentId":{"type":"integer","format":"int64"},"content":{"maxLength":3000,"minLength":0,"type":"string"}}},"AuthSignupRequest":{"required":["email","nickname","password"],"type":"object","properties":{"email":{"type":"string"},"password":{"maxLength":2147483647,"minLength":8,"pattern":"^(?=.*[a-zA-Z])(?=.*\\d)(?=.*[!@#$%^&*(),.?\":{}|<>]).{8,}$","type":"string"},"nickname":{"type":"string"},"experienceLevelId":{"type":"integer","format":"int64"},"jobCategoryId":{"type":"integer","format":"int64"},"certificateTypeIds":{"type":"array","items":{"type":"integer","format":"int64"}}}},"AuthSignupResponse":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"email":{"type":"string"},"nickname":{"type":"string"},"agreementAt":{"type":"string","format":"date-time"},"token":{"type":"string"}}},"AuthLoginRequest":{"required":["email","password"],"type":"object","properties":{"email":{"type":"string"},"password":{"type":"string"}}},"AuthLoginResponse":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"token":{"type":"string"}}},"ProfileSpecProgressRequest":{"required":["state"],"type":"object","properties":{"state":{"$ref":"#/components/schemas/JsonNode"}}},"UserDraftRequest":{"required":["state"],"type":"object","properties":{"state":{"$ref":"#/components/schemas/JsonNode"}}},"UserDraftResponse":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"type":{"type":"string","enum":["ONBOARDING","ESTIMATE"]},"status":{"type":"string","enum":["IN_PROGRESS","COMPLETED"]},"state":{"$ref":"#/components/schemas/JsonNode"},"createdAt":{"type":"string","format":"date-time"},"updatedAt":{"type":"string","format":"date-time"},"completedAt":{"type":"string","format":"date-time"}}},"ProjectNameUpdateRequest":{"type":"object","properties":{"projectName":{"maxLength":100,"minLength":0,"type":"string","description":"새 프로젝트명. 비어 있으면 생성일 기반 기본 이름을 사용합니다.","example":"쇼핑몰 관리자 페이지 구축"}},"description":"프로젝트명 수정 요청"},"SavedEstimateResponse":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"projectName":{"type":"string"},"experienceLevelId":{"type":"integer","format":"int64"},"experienceLevelLabel":{"type":"string"},"jobCategoryId":{"type":"integer","format":"int64"},"jobCategoryName":{"type":"string"},"baseAmount":{"type":"integer","format":"int32"},"screenCount":{"type":"integer","format":"int32"},"uxEngagement":{"type":"string","enum":["GUI_ONLY","WIREFRAME_PLUS","FULL_PLANNING"]},"uxMultiplier":{"type":"number"},"platformEnvironment":{"type":"string","enum":["MOBILE_APP","PC_WEB","RESPONSIVE_WEB"]},"platformMultiplier":{"type":"number"},"addons":{"type":"array","items":{"type":"string"}},"addonPercent":{"type":"integer","format":"int32"},"finalAmount":{"type":"integer","format":"int32"},"negotiationResult":{"$ref":"#/components/schemas/EstimateNegotiationResult"},"createdAt":{"type":"string","format":"date-time"},"negotiationSimulationStarted":{"type":"boolean"},"negotiationSimulationStatus":{"type":"string","enum":["NOT_STARTED","IN_PROGRESS","COMPLETED"]},"negotiationSimulationState":{"$ref":"#/components/schemas/JsonNode"},"negotiationSimulationStartedAt":{"type":"string","format":"date-time"},"negotiationSimulationUpdatedAt":{"type":"string","format":"date-time"},"negotiationSimulationCompletedAt":{"type":"string","format":"date-time"}}},"NegotiationSimulationProgressRequest":{"required":["state"],"type":"object","properties":{"state":{"$ref":"#/components/schemas/JsonNode"}}},"SubmissionTimelineItem":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"projectName":{"type":"string"},"submissionType":{"type":"string","enum":["TRACK_A","TRACK_B"]},"workFormat":{"type":"string","enum":["ON_SITE","REMOTE","HYBRID"]},"duration":{"type":"string"},"amount":{"type":"integer","format":"int32"},"amountUnit":{"type":"string","enum":["MONTHLY","TOTAL"]},"normalizedMonthly":{"type":"integer","format":"int32"},"jobCategoryName":{"type":"string"},"experienceLevelLabel":{"type":"string"},"createdAt":{"type":"string","format":"date-time"}}},"JobCategoryResponse":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"name":{"type":"string"},"slug":{"type":"string"},"children":{"type":"array","items":{"$ref":"#/components/schemas/JobCategoryResponse"}}}},"CommunityPostListResponse":{"type":"object","properties":{"bestPosts":{"type":"array","items":{"$ref":"#/components/schemas/CommunityPostSummaryResponse"}},"posts":{"type":"array","items":{"$ref":"#/components/schemas/CommunityPostSummaryResponse"}},"page":{"type":"integer","format":"int32"},"size":{"type":"integer","format":"int32"},"totalElements":{"type":"integer","format":"int64"},"totalPages":{"type":"integer","format":"int32"}}},"CommunityPostSummaryResponse":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"category":{"type":"string","enum":["QNA","INFO","FREE"]},"title":{"type":"string"},"contentPreview":{"type":"string"},"author":{"$ref":"#/components/schemas/CommunityAuthorResponse"},"imageUrls":{"type":"array","items":{"type":"string"}},"likeCount":{"type":"integer","format":"int32"},"commentCount":{"type":"integer","format":"int32"},"best":{"type":"boolean"},"createdAt":{"type":"string","format":"date-time"}}},"CommunityPostPageResponse":{"type":"object","properties":{"posts":{"type":"array","items":{"$ref":"#/components/schemas/CommunityPostSummaryResponse"}},"page":{"type":"integer","format":"int32"},"size":{"type":"integer","format":"int32"},"totalElements":{"type":"integer","format":"int64"},"totalPages":{"type":"integer","format":"int32"}}},"CommunityCommentListResponse":{"type":"object","properties":{"comments":{"type":"array","items":{"$ref":"#/components/schemas/CommunityMyCommentResponse"}},"page":{"type":"integer","format":"int32"},"size":{"type":"integer","format":"int32"},"totalElements":{"type":"integer","format":"int64"},"totalPages":{"type":"integer","format":"int32"}}},"CommunityMyCommentResponse":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"postId":{"type":"integer","format":"int64"},"postTitle":{"type":"string"},"postCategory":{"type":"string","enum":["QNA","INFO","FREE"]},"parentCommentId":{"type":"integer","format":"int64"},"content":{"type":"string"},"createdAt":{"type":"string","format":"date-time"}}},"BenchmarkResult":{"type":"object","properties":{"n":{"type":"integer","format":"int64"},"p10":{"type":"integer","format":"int32"},"p25":{"type":"integer","format":"int32"},"median":{"type":"integer","format":"int32"},"p75":{"type":"integer","format":"int32"},"p90":{"type":"integer","format":"int32"},"distribution":{"type":"array","items":{"$ref":"#/components/schemas/DistributionBucket"}},"userPercentile":{"type":"number","format":"double"},"comparisonGroups":{"type":"array","items":{"$ref":"#/components/schemas/ComparisonGroup"}}}},"ComparisonGroup":{"type":"object","properties":{"scope":{"type":"string"},"label":{"type":"string"},"n":{"type":"integer","format":"int64"},"p25":{"type":"integer","format":"int32"},"median":{"type":"integer","format":"int32"},"p75":{"type":"integer","format":"int32"},"userPercentile":{"type":"number","format":"double"}}},"DistributionBucket":{"type":"object","properties":{"bucket":{"type":"integer","format":"int32"},"rangeStart":{"type":"integer","format":"int32"},"rangeEnd":{"type":"integer","format":"int32"},"count":{"type":"integer","format":"int64"},"cohortSize":{"type":"integer","format":"int64"},"certHoldersCount":{"type":"integer","format":"int64"},"certRatio":{"type":"number","format":"double"},"mostCommonDuration":{"type":"string"}}}},"securitySchemes":{"BearerAuth":{"type":"http","scheme":"bearer","bearerFormat":"JWT"}}}}